div{
	 
	width: 300px;
	height: 300px;
	border:10px;
	border:1px solid black;
	
	margin: 10px;

	
}
#caixa1{
	background-color: white;
	float: left;
	text-align: center;
	font-size: 300px;
}
#caixaResposta{
	width: 300px;
	height: 300px;
	border:10px;
	border:1px solid black;
	font-size: 300px;
	text-align: center;
	margin: 10px;
	background-color: white;
	float: left;
}
#verifica{
	border:0px;

}