*{
	margin: 0px;
	padding: 0px;
}

body{
		background-image:url('../imagem/imagemBackGround.jpg');
        background-position:center top;
        background-repeat:no-repeat;
        background-size:100%;
        background-attachment:fixed;
}
#header{
	background-color: gray;
	height: 200px;
	border:1px solid black;

}
.logo{
	border:1px solid black;
	text-align: center;
	margin: 50px;
	margin-right:  0px;
	padding-top: 30px;
	float: left;
	background-color: white;
	width: 300px;
	height: 100px;
}

.menu{
	border:1px solid black;
	float: right;
	background-color: white;
	text-align: center;
	margin: 60px;
	margin-left: 0px;

}
.textImg{
	position: absolute;
	bottom: 10px;
}
#buttonMenu{
	

	margin: 10px;
}

.headerFooter{
	background-color: black;
	color: white;
}


.footer{

	position: absolute;
	width: 100%;
	background-color: gray;


}
.footer p{
	border:1px black solid;
	text-align: center;
}

.footerApres{
	text-align: right;
	float: right;
	
	width: 50%;
}

.footerApres img{
width: 50px;
height: 50px;
}
.redesSociais{
	width: 50%;
	float: left;
	
}


.redesSociais img{
width: 50px;
height: 50px;
}

	