*{
	margin: 0px;
	padding: 0px;
}

body{
		/*background-image:url('../imagem/imagemBackGround.jpg');
        background-position:center top;
        background-repeat:no-repeat;
        background-size:100%;
        background-attachment:fixed;*/
        background-color: #1c2541;

}

 .Criadores{
	background-color: #3a506b;
	 border-radius: 2%;

}
.Criadores img{
	border-radius: 100%;
	 width: 50px; 
	 height: 50px;
	 border: 3px solid black;

}

.bg-color{
	background-color: #0b132b;
}
.navbar{
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	
}



.logo:hover{
	border-radius: 10%;
	transition: .5s;
	background-color: #5bc0be;
	color: black;
}


.CorpoSite{
	margin: 0px 300px;
}
@media screen and (max-width: 1300px) {
    .CorpoSite{
    	margin: 0px 100px;	
    	

    }


}
@media screen and (max-width: 1000px) {
    .CorpoSite{
    	margin: 0px;	
    	

    }


}

.jumbotron{
	height: 600px;
	
	background-color: #0b132b;
	color: white;

}
/*0b132b
	3a506b
*/

.img_noticia{
border:2px solid black;
}
.textImg{
	position: relative;
	bottom: 40px;
}
#buttonMenu{
	

	margin: 10px;
}

.headerFooter{
	background-color: black;
	color: white;
}

.imgBox { /* now a container for the image */
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
  }
  .imgBox img {
    display: block; /* no whitespace */
    transition: .3s ease-in-out;
  }
  .imgBox:hover img {
    transform: scale(1.1);
  }


.footer{

	height: 300px;
	width: 100%;
	background-color: #0b132b;


}
.footer p{
	border:1px black solid;
	text-align: center;
}

.footerApres{
	text-align: right;
	float: right;
	
	
}

.footerApres img{
width: 50px;
height: 50px;
}
.redesSociais{
	width: 50%;
	float: left;
	
}


.redesSociais img{
width: 50px;
height: 50px;
}


	
#teste{
	
	z-index: 1;
	position: fixed;
	right: 15px;
	bottom: 10px;
	color: #0b132b;
	background-color: #5bc0be;

}

.NewsLetter{

}

.subscribe-form{
	position: relative;
	margin-top: 40px;
}
.modal-content{
	background: gray;
}
.subscribe-form input[type="text"]{
	color: white;
	width: 100%;
	height: 60px;
	border-radius: 60px;
	border: none;
	outline: none;
	padding: 20px;
	box-sizing: border-box;
	font-size: 24px;
	background:black;
	
}
.subscribe-form input[type="text"]::placeholder{
	color: white;/*testando*/
}

.subscribe-form input[type="submit"]{
text-align: center;
	background:#00bcd4; 
	color: #fff;
	width: 150px;
	height: 60px;
	border-radius: 60px;
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: 300;
	cursor: pointer;
	transition: .5s;
	font-size: 20px;

}

.subscribe-form input[type="submit"]:hover{
	background: #e91e63;
}


/*indexProjetoNoticia*/



.TextNoticia{
	margin: 20px;
	background-color: white;
	color: black;
	border: solid 2px black;

}
.comentario{
	
	background-color: white;
	padding: 10px
	margin:20px;

	width: 100%;
	height: auto;
}

.comentario img{
	
	width: 100px;
	height: 100px;
}
.comentario p{
	float: right;

}